.head {
    margin: 15px;
    display: flex;
    align-items: center;
    background-color: #EFF4FF;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.izquierda{
    padding: 20px;
    flex: 1;
    z-index: 1;
}

.badge {
    color: var(--verde-badge);
    background-color: #D7E6EF;
    display: flex;
    justify-content: flex-start;
    border-radius: 8px;
    gap: 5px;
    padding: 5px;
    width: fit-content;
}

.badge p{
    font-family: var(--font-psj);
    font-weight: var(--pes-sb);
    font-size: var(--txt-encabezado);
    margin: 0;
    line-height: 1;
}

.titulo{
    font-family: var(--font-psj);
    font-weight: var(--pes-b);
    font-size: var(--txt-impacto);
    letter-spacing: 3px;
}

.titulo span{
    font-family: var(--font-lex);
    font-weight: var(--pes-b);
    font-size: var(--txt-impacto);
    color: var(--verde-texto);
    text-decoration:underline;
    letter-spacing: 6px;
}

.subtitulo{
    font-family: var(--font-psj);
    font-weight: var(--pes-md);
    font-size: var(--txt-subtitulo);
    color: #3D4947;
}

.botones {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.botones button {
    font-family: var(--font-psj);
    font-size: var(--txt-sub-titulo);
    font-weight: var(--pes-md);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.botones button:hover {
    opacity: 0.85;
    transform: translateY(-4px);
}

.aprender {
    background-color: #01685F; 
    color: white;
}

.probar {
    background-color: #FD761A;
    color: #5C2400;
}

.derecha{
    position: relative;
    flex-shrink: 0;
}

.derecha::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #EFF4FF, transparent);
    z-index: 1;
    pointer-events: none;
}

.derecha img {
    display: block;
    max-height: auto;
    width: auto;
}