.Nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F8F9FF;
}

.titulo-nav{
    font-family: var(--font-main);
    font-weight: var(--wht-b);
    font-size: var(--txt);
    text-decoration: none;
    color: #000;
}

.titulo-nav span{
    color: #0D9488;
}

.links{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
    margin: 0%;
    margin-right: 100px;
}
.links li{
    margin-right: 0px;
    padding: 5px;
    transition: all ease 0.3s;
    border: 3px solid transparent;
}
.links li a{
    color: gray;
    font-size: 19px; font-weight: 400;
    text-decoration: none;
    transition: all 0.2s;
}

.links li:hover{
    border: 3px solid rgba(0, 213, 255, 0.263);
    border-radius: 5px;
}
.links li:hover a{
    color: cyan;
}

.izquierda{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
    margin: 0%;
    gap: 5px;
}
.izquierda li{
    padding: 10px;
}

#contacto-boton a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    background-color: #00685F;
}