.Nav{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.titulo-nav{
    text-decoration: none;
    color: #FFFF;
}
.titulo-nav span{
    color: #38bdf8;
}
.Nav{
    background-color: #164e7a;
}

.links{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
    margin: 0%;
    
}
.links li{
    margin-right: 40px;
    padding: 5px;
    transition: all 0.2s;
    border: 3px solid transparent;
}
.links li a{
    color: gray;
    font-size: 19px; font-weight: 400;
    text-decoration: none;
    transition: all 0.2s;
}

.links li:hover{
    border: 3px solid rgba(0, 213, 255, 0.263);
    border-radius: 5px;
}
.links li:hover a{
    color: cyan;
}